.example-form {
  width: 500px;
  width: 100%;
}

.example-full-width {
  width: 500px;
  
}

.button_qr {
  margin-left: 20px;
  min-width: 120px;
  font-size: 25px;
  border-radius: 15px;
  border: 1px solid white;
  padding: 10px 15px;

}
